In [1]:
import numpy as np
import pandas as pd

In [2]:
counties = pd.read_csv("data/us_counties_covid19_daily.csv")[["county"]]
counties.drop_duplicates(ignore_index=True, inplace=True)
print(counties)

                    county
0                Snohomish
1                     Cook
2                   Orange
3                 Maricopa
4              Los Angeles
...                    ...
1924                 Hayes
1925             Petroleum
1926  Skagway Municipality
1927             Esmeralda
1928                Loving

[1929 rows x 1 columns]

In [3]:
import curr_aqi

loc_list = ["new york", "delhi", "london", "washington dc"]
df = curr_aqi.show_aqi(loc_list)
df

          county    AQI  PM2.5   CO   NO2  Ozone  PM10  SO2
0       new york   13.0   13.0  NaN   NaN    NaN   NaN  NaN
1          delhi  201.0  201.0  NaN   NaN    NaN   NaN  NaN
2         london   57.0   57.0  9.1  16.0   10.6  22.0  2.1
3  washington dc   12.0   12.0  0.1   1.0   11.4   NaN  0.6